In [1]:
#value type
c = 4
d = c
c = 5
d

4

In [3]:
#reference
a = [1,2,3]
b = a
a[0] = 10
b[0]

10

In [4]:
e = [1,2,3]
f = e.copy()
e[0] = 10
f[0]

1

In [5]:
#tuple
empty_tuple = ()
empty_tuple

()

In [7]:
one_city = ("台北",)
one_city

('台北',)

In [10]:
citys = '台北', '台中', '高雄', '台南', '花蓮' 
a,b,c,d,e = citys
c

'高雄'

In [11]:
empty_dict = {}
empty_dict

{}

In [12]:
codes = {
    "tw":"Taiwan",
    "jp":"Japan",
    "hk":"Hong Kong"    
}
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong'}

In [14]:
lol = [['a', 'b'],['c', 'd'], ['e', 'f']]
dict(lol)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [15]:
dict1={'a':200, 'b':400, 'b':300}
dict1

{'a': 200, 'b': 300}

In [18]:
nums = {
    1:'one',
    2:'two',
    3:'three',
    4:'four',
    5:'five',
}
nums[6] = 'six'
nums

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [20]:
del nums[6]

KeyError: 6

In [21]:
nums

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [22]:
del nums

In [23]:
nums

NameError: name 'nums' is not defined

In [25]:
nums = {
    1:'one',
    2:'two',
    3:'three',
    4:'four',
    5:'five',
}

for key in nums:
    print(nums[key])

one
two
three
four
five

In [26]:
for key in nums.keys():
    print(key)

1
2
3
4
5

In [27]:
for value in nums.values():
    print(value)

one
two
three
four
five

In [29]:
for key,value in nums.items():
    print(key, value)

1 one
2 two
3 three
4 four
5 five

In [32]:
pythons = {'Chapman': 'Graham', 'Cleese': 'John',
       'Jones': 'Terry', 'Palin': 'Michael'}
'Chapman' in pythons

True

In [33]:
'Cleese' in pythons

True

In [34]:
empty_set = set()
empty_set

set()

In [35]:
even_numbers = {0, 2, 4, 6, 8, 0, 2, 4, 6, 8}
even_numbers

{0, 2, 4, 6, 8}

In [37]:
list(set('letters'))

['t', 's', 'r', 'e', 'l']