In [1]:
#建立Engine
import os
from sqlalchemy import create_engine
enginepath=os.path.abspath('data.sqlite')
engine = create_engine("sqlite+pysqlite:///"+enginepath, echo=True, future=True)
engine

Engine(sqlite+pysqlite:////Users/roberthsu2003/Documents/GitHub/pythonFlask/上課內容/data.sqlite)

In [2]:
#declarative mapping

from sqlalchemy import Column,String,Integer
from sqlalchemy.orm import declarative_base
Base = declarative_base()

class Students(Base):
    __tablename__ = 'students'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    
    def __repr__(self):
        return f"<Students name={self.name}, fullname={self.fullname}, nickname={self.nickname} >"

In [3]:
#建立資料庫
Base.metadata.create_all(engine)

2021-05-03 14:19:09,649 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-05-03 14:19:09,650 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2021-05-03 14:19:09,651 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-05-03 14:19:09,652 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("students")
2021-05-03 14:19:09,652 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-05-03 14:19:09,654 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	nickname VARCHAR,
	PRIMARY KEY (id)
)


2021-05-03 14:19:09,654 INFO sqlalchemy.engine.Engine [no key 0.00059s] ()
2021-05-03 14:19:09,656 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
#建立一筆資料
stu1 = Students(name="徐國堂",fullname="男生",nickname="超人")
stu1

In [5]:
stu2 = Students(name="張撫遠",fullname="女生",nickname="女超人")
stu2

In [6]:
#將資料加入至Session
from sqlalchemy.orm import Session
session = Session(engine)
session.add(stu1)
session.add(stu2)
session.new

IdentitySet([<Students name=徐國堂, fullname=男生, nickname=超人 >, <Students name=張撫遠, fullname=女生, nickname=女超人 >])

In [7]:
session.commit()

2021-05-03 14:19:09,683 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-05-03 14:19:09,685 INFO sqlalchemy.engine.Engine INSERT INTO students (name, fullname, nickname) VALUES (?, ?, ?)
2021-05-03 14:19:09,685 INFO sqlalchemy.engine.Engine [generated in 0.00087s] ('徐國堂', '男生', '超人')
2021-05-03 14:19:09,687 INFO sqlalchemy.engine.Engine INSERT INTO students (name, fullname, nickname) VALUES (?, ?, ?)
2021-05-03 14:19:09,687 INFO sqlalchemy.engine.Engine [cached since 0.003042s ago] ('張撫遠', '女生', '女超人')
2021-05-03 14:19:09,689 INFO sqlalchemy.engine.Engine COMMIT