In [1]:
#value type
c = 4
d = c
c = 5
d

4

In [3]:
#reference
a = [1,2,3]
b = a
a[0] = 10
b[0]

10

In [4]:
e = [1,2,3]
f = e.copy()
e[0] = 10
f[0]

1

In [5]:
#tuple
empty_tuple = ()
empty_tuple

()

In [7]:
one_city = ("台北",)
one_city

('台北',)

In [10]:
citys = '台北', '台中', '高雄', '台南', '花蓮' 
a,b,c,d,e = citys
c

'高雄'

In [11]:
empty_dict = {}
empty_dict

{}

In [12]:
codes = {
    "tw":"Taiwan",
    "jp":"Japan",
    "hk":"Hong Kong"    
}
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong'}

In [14]:
lol = [['a', 'b'],['c', 'd'], ['e', 'f']]
dict(lol)

{'a': 'b', 'c': 'd', 'e': 'f'}