In [1]:
#value type
c = 4
d = c
c = 5
d

4

In [3]:
#reference
a = [1,2,3]
b = a
a[0] = 10
b[0]

10

In [4]:
e = [1,2,3]
f = e.copy()
e[0] = 10
f[0]

1

In [5]:
#tuple
empty_tuple = ()
empty_tuple

()

In [7]:
one_city = ("台北",)
one_city

('台北',)

In [10]:
citys = '台北', '台中', '高雄', '台南', '花蓮' 
a,b,c,d,e = citys
c

'高雄'

In [11]:
empty_dict = {}
empty_dict

{}

In [12]:
codes = {
    "tw":"Taiwan",
    "jp":"Japan",
    "hk":"Hong Kong"    
}
codes

{'tw': 'Taiwan', 'jp': 'Japan', 'hk': 'Hong Kong'}

In [14]:
lol = [['a', 'b'],['c', 'd'], ['e', 'f']]
dict(lol)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [15]:
dict1={'a':200, 'b':400, 'b':300}
dict1

{'a': 200, 'b': 300}

In [18]:
nums = {
    1:'one',
    2:'two',
    3:'three',
    4:'four',
    5:'five',
}
nums[6] = 'six'
nums

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

In [20]:
del nums[6]

KeyError: 6

In [21]:
nums

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [22]:
del nums

In [23]:
nums

NameError: name 'nums' is not defined

In [25]:
nums = {
    1:'one',
    2:'two',
    3:'three',
    4:'four',
    5:'five',
}

for key in nums:
    print(nums[key])

one
two
three
four
five

In [26]:
for key in nums.keys():
    print(key)

1
2
3
4
5

In [27]:
for value in nums.values():
    print(value)

one
two
three
four
five

In [29]:
for key,value in nums.items():
    print(key, value)

1 one
2 two
3 three
4 four
5 five

In [32]:
pythons = {'Chapman': 'Graham', 'Cleese': 'John',
       'Jones': 'Terry', 'Palin': 'Michael'}
'Chapman' in pythons

True

In [33]:
'Cleese' in pythons

True

In [34]:
empty_set = set()
empty_set

set()

In [35]:
even_numbers = {0, 2, 4, 6, 8, 0, 2, 4, 6, 8}
even_numbers

{0, 2, 4, 6, 8}

In [50]:
mylist=list(set('letters'))
mylist.sort(reverse=True)
mylist

['t', 's', 'r', 'l', 'e']

In [39]:
#建立50位學生,每位學生有科分數
import random
subjects = ('國文', '英文', '數學', '社會', '自然')
students = []
for _ in range(50):
    scores = {}
    for subject in subjects:
        scores[subject] = random.randint(50, 100)
    students.append(scores)
students

[{'國文': 52, '英文': 88, '數學': 52, '社會': 90, '自然': 68},
 {'國文': 55, '英文': 85, '數學': 77, '社會': 96, '自然': 61},
 {'國文': 84, '英文': 73, '數學': 55, '社會': 99, '自然': 64},
 {'國文': 90, '英文': 89, '數學': 82, '社會': 57, '自然': 90},
 {'國文': 87, '英文': 76, '數學': 100, '社會': 59, '自然': 74},
 {'國文': 84, '英文': 82, '數學': 95, '社會': 90, '自然': 74},
 {'國文': 68, '英文': 55, '數學': 92, '社會': 67, '自然': 55},
 {'國文': 80, '英文': 56, '數學': 83, '社會': 72, '自然': 100},
 {'國文': 82, '英文': 67, '數學': 70, '社會': 68, '自然': 75},
 {'國文': 76, '英文': 99, '數學': 64, '社會': 58, '自然': 94},
 {'國文': 77, '英文': 61, '數學': 87, '社會': 65, '自然': 87},
 {'國文': 88, '英文': 69, '數學': 62, '社會': 64, '自然': 78},
 {'國文': 79, '英文': 90, '數學': 60, '社會': 60, '自然': 72},
 {'國文': 96, '英文': 100, '數學': 52, '社會': 82, '自然': 74},
 {'國文': 83, '英文': 100, '數學': 62, '社會': 92, '自然': 73},
 {'國文': 61, '英文': 91, '數學': 81, '社會': 55, '自然': 65},
 {'國文': 50, '英文': 90, '數學': 64, '社會': 90, '自然': 50},
 {'國文': 93, '英文': 65, '數學': 58, '社會': 75, '自然': 99},
 {'國文': 88, '英文': 83, '數學': 98, '社會': 69, '自然': 54},
 {'國文': 71, '英文': 84, '數學': 89, '社會': 61, '自然': 81},
 {'國文': 96, '英文': 51, '數學': 64, '社會': 69, '自然': 70},
 {'國文': 85, '英文': 71, '數學': 91, '社會': 53, '自然': 62},
 {'國文': 76, '英文': 71, '數學': 55, '社會': 84, '自然': 62},
 {'國文': 93, '英文': 63, '數學': 95, '社會': 61, '自然': 56},
 {'國文': 89, '英文': 87, '數學': 88, '社會': 88, '自然': 93},
 {'國文': 55, '英文': 60, '數學': 95, '社會': 82, '自然': 100},
 {'國文': 60, '英文': 76, '數學': 76, '社會': 67, '自然': 52},
 {'國文': 61, '英文': 92, '數學': 80, '社會': 66, '自然': 94},
 {'國文': 68, '英文': 71, '數學': 63, '社會': 67, '自然': 58},
 {'國文': 99, '英文': 76, '數學': 81, '社會': 61, '自然': 62},
 {'國文': 62, '英文': 56, '數學': 94, '社會': 93, '自然': 90},
 {'國文': 92, '英文': 69, '數學': 71, '社會': 80, '自然': 98},
 {'國文': 57, '英文': 73, '數學': 75, '社會': 64, '自然': 65},
 {'國文': 71, '英文': 86, '數學': 93, '社會': 77, '自然': 80},
 {'國文': 86, '英文': 63, '數學': 95, '社會': 69, '自然': 92},
 {'國文': 70, '英文': 91, '數學': 68, '社會': 94, '自然': 74},
 {'國文': 86, '英文': 58, '數學': 55, '社會': 54, '自然': 63},
 {'國文': 92, '英文': 75, '數學': 76, '社會': 83, '自然': 69},
 {'國文': 83, '英文': 57, '數學': 98, '社會': 60, '自然': 58},
 {'國文': 90, '英文': 52, '數學': 50, '社會': 87, '自然': 63},
 {'國文': 71, '英文': 87, '數學': 99, '社會': 65, '自然': 90},
 {'國文': 63, '英文': 79, '數學': 88, '社會': 86, '自然': 86},
 {'國文': 80, '英文': 89, '數學': 77, '社會': 71, '自然': 58},
 {'國文': 75, '英文': 83, '數學': 63, '社會': 85, '自然': 63},
 {'國文': 85, '英文': 70, '數學': 90, '社會': 74, '自然': 54},
 {'國文': 63, '英文': 83, '數學': 88, '社會': 99, '自然': 95},
 {'國文': 56, '英文': 66, '數學': 53, '社會': 52, '自然': 72},
 {'國文': 79, '英文': 78, '數學': 57, '社會': 51, '自然': 93},
 {'國文': 97, '英文': 98, '數學': 58, '社會': 62, '自然': 62},
 {'國文': 97, '英文': 56, '數學': 97, '社會': 89, '自然': 89}]

In [41]:
#建立50位學生,每位學生有科分數
import random
subjects = ('國文', '英文', '數學', '社會', '自然')
allData=[{subject:random.randint(50,100) for subject in subjects} for _ in range(50)]
allData

[{'國文': 89, '英文': 56, '數學': 96, '社會': 68, '自然': 98},
 {'國文': 50, '英文': 80, '數學': 87, '社會': 81, '自然': 60},
 {'國文': 82, '英文': 92, '數學': 65, '社會': 58, '自然': 62},
 {'國文': 96, '英文': 61, '數學': 63, '社會': 92, '自然': 80},
 {'國文': 73, '英文': 62, '數學': 84, '社會': 60, '自然': 92},
 {'國文': 55, '英文': 50, '數學': 97, '社會': 98, '自然': 94},
 {'國文': 98, '英文': 89, '數學': 89, '社會': 68, '自然': 70},
 {'國文': 87, '英文': 96, '數學': 63, '社會': 68, '自然': 95},
 {'國文': 73, '英文': 64, '數學': 79, '社會': 100, '自然': 50},
 {'國文': 56, '英文': 82, '數學': 63, '社會': 63, '自然': 64},
 {'國文': 86, '英文': 78, '數學': 62, '社會': 89, '自然': 98},
 {'國文': 69, '英文': 89, '數學': 71, '社會': 68, '自然': 95},
 {'國文': 80, '英文': 64, '數學': 80, '社會': 85, '自然': 95},
 {'國文': 84, '英文': 79, '數學': 91, '社會': 94, '自然': 92},
 {'國文': 90, '英文': 79, '數學': 52, '社會': 78, '自然': 90},
 {'國文': 50, '英文': 73, '數學': 76, '社會': 80, '自然': 57},
 {'國文': 82, '英文': 88, '數學': 51, '社會': 65, '自然': 90},
 {'國文': 95, '英文': 90, '數學': 63, '社會': 73, '自然': 80},
 {'國文': 57, '英文': 66, '數學': 63, '社會': 60, '自然': 99},
 {'國文': 63, '英文': 85, '數學': 77, '社會': 69, '自然': 61},
 {'國文': 68, '英文': 55, '數學': 53, '社會': 80, '自然': 74},
 {'國文': 65, '英文': 90, '數學': 81, '社會': 93, '自然': 67},
 {'國文': 92, '英文': 79, '數學': 85, '社會': 87, '自然': 58},
 {'國文': 65, '英文': 73, '數學': 80, '社會': 54, '自然': 88},
 {'國文': 69, '英文': 60, '數學': 59, '社會': 51, '自然': 61},
 {'國文': 77, '英文': 76, '數學': 73, '社會': 68, '自然': 78},
 {'國文': 80, '英文': 97, '數學': 75, '社會': 79, '自然': 51},
 {'國文': 85, '英文': 75, '數學': 99, '社會': 50, '自然': 56},
 {'國文': 74, '英文': 87, '數學': 65, '社會': 56, '自然': 52},
 {'國文': 98, '英文': 58, '數學': 86, '社會': 92, '自然': 61},
 {'國文': 56, '英文': 53, '數學': 68, '社會': 75, '自然': 77},
 {'國文': 71, '英文': 78, '數學': 80, '社會': 53, '自然': 55},
 {'國文': 67, '英文': 96, '數學': 62, '社會': 83, '自然': 56},
 {'國文': 70, '英文': 88, '數學': 56, '社會': 70, '自然': 95},
 {'國文': 96, '英文': 75, '數學': 68, '社會': 96, '自然': 72},
 {'國文': 58, '英文': 58, '數學': 68, '社會': 95, '自然': 52},
 {'國文': 50, '英文': 82, '數學': 72, '社會': 95, '自然': 79},
 {'國文': 60, '英文': 62, '數學': 59, '社會': 85, '自然': 97},
 {'國文': 60, '英文': 58, '數學': 82, '社會': 76, '自然': 89},
 {'國文': 59, '英文': 81, '數學': 71, '社會': 86, '自然': 60},
 {'國文': 93, '英文': 70, '數學': 53, '社會': 63, '自然': 62},
 {'國文': 57, '英文': 81, '數學': 97, '社會': 53, '自然': 70},
 {'國文': 82, '英文': 76, '數學': 83, '社會': 80, '自然': 66},
 {'國文': 76, '英文': 98, '數學': 98, '社會': 92, '自然': 71},
 {'國文': 74, '英文': 74, '數學': 84, '社會': 58, '自然': 74},
 {'國文': 83, '英文': 96, '數學': 82, '社會': 98, '自然': 72},
 {'國文': 62, '英文': 69, '數學': 91, '社會': 97, '自然': 97},
 {'國文': 95, '英文': 82, '數學': 78, '社會': 88, '自然': 83},
 {'國文': 90, '英文': 56, '數學': 51, '社會': 92, '自然': 95},
 {'國文': 95, '英文': 71, '數學': 63, '社會': 85, '自然': 83}]

In [47]:
lot = set()
while len(lot) <= 7:
    lot.add(random.randint(1,49))
lotList = list(lot)
specialNum=lotList.pop()
print(lotList)
print(specialNum)

[33, 36, 5, 42, 48, 17, 20]
24