In [1]:
from sqlalchemy import create_engine
engine = create_engine("sqlite+pysqlite:///:memory:", echo=True, future=True)

In [2]:
from sqlalchemy import text
with engine.connect() as conn:
    result=conn.execute(text("select 'hello world'"))
    print(result.all())

2021-04-24 14:35:30,095 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-24 14:35:30,096 INFO sqlalchemy.engine.Engine select 'hello world'
2021-04-24 14:35:30,097 INFO sqlalchemy.engine.Engine [generated in 0.00176s] ()
[('hello world',)]
2021-04-24 14:35:30,098 INFO sqlalchemy.engine.Engine ROLLBACK

In [6]:
with engine.connect() as conn:
    #conn.execute(text("CREATE TABLE some_table (x int,y int)"))
    conn.execute(text("INSERT INTO some_table (x,y) VALUES (:x, :y)"),[{"x":1, "y":1},{"x":2, "y":4}])
    conn.commit()

2021-04-24 14:47:55,441 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-24 14:47:55,442 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x,y) VALUES (?, ?)
2021-04-24 14:47:55,442 INFO sqlalchemy.engine.Engine [generated in 0.00160s] ((1, 1), (2, 4))
2021-04-24 14:47:55,444 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
with engine.connect() as conn:
    conn.execute(text("INSERT INTO some_table (x,y) VALUES (:x, :y)"),[{"x":6, "y":8},{"x":9, "y":10}])
    conn.commit()

2021-04-24 14:57:56,650 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-24 14:57:56,651 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x,y) VALUES (?, ?)
2021-04-24 14:57:56,652 INFO sqlalchemy.engine.Engine [cached since 601.2s ago] ((6, 8), (9, 10))
2021-04-24 14:57:56,653 INFO sqlalchemy.engine.Engine COMMIT

In [10]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM  some_table"))
    for row in result:
        print(f"x:{row.x} y:{row.y}")

2021-04-24 15:00:58,086 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-24 15:00:58,087 INFO sqlalchemy.engine.Engine SELECT x, y FROM  some_table
2021-04-24 15:00:58,088 INFO sqlalchemy.engine.Engine [generated in 0.00160s] ()
x:1 y:1
x:2 y:4
x:6 y:8
x:9 y:10
2021-04-24 15:00:58,089 INFO sqlalchemy.engine.Engine ROLLBACK