In [10]:
#建立Engine
import os
from sqlalchemy import create_engine
enginepath=os.path.abspath('data.sqlite')
engine = create_engine("sqlite+pysqlite:///"+enginepath, echo=True, future=True)
engine

Engine(sqlite+pysqlite:////Users/roberthsu2003/Documents/GitHub/pythonFlask/上課內容/data.sqlite)

In [22]:
#declarative mapping

from sqlalchemy import Column,String,Integer
from sqlalchemy.orm import declarative_base
Base = declarative_base()

class Students(Base):
    __tablename__ = 'students'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    nickname = Column(String)
    
    def __repr__(self):
        return f"<Students name={self.name}, fullname={self.fullname}, nickname={self.nickname} >"

In [23]:
#建立資料庫
Base.metadata.create_all(engine)

2021-05-03 13:59:56,513 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-05-03 13:59:56,514 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("students")
2021-05-03 13:59:56,515 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-05-03 13:59:56,516 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
#建立一筆資料
stu1 = Students(name="徐國堂",fullname="男生",nickname="超人")
stu1

In [25]:
stu2 = Students(name="張撫遠",fullname="女生",nickname="女超人")
stu2

In [27]:
#將資料加入至Session
from sqlalchemy.orm import Session
session = Session(engine)
session.add(stu1)
session.add(stu2)
session.new

IdentitySet([<Students name=徐國堂, fullname=男生, nickname=超人 >, <Students name=張撫遠, fullname=女生, nickname=女超人 >])