In [5]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()
tw_2303 = pdr.get_data_yahoo('2303.TW')
tw_2303_1 = tw_2303.reset_index()
tw_2303_1['Date'] = tw_2303_1['Date'].map(lambda x:f'{x.year}-{x.month}-{x.day}')
tw_2303_1

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-1-4,43.961380,44.900723,43.209900,44.524986,22.637262,332630460
1,2000-1-5,43.585640,44.524986,43.209900,44.337120,22.541744,292754299
2,2000-1-6,44.337120,44.337120,43.209900,43.397774,22.064167,248928848
3,2000-1-7,42.270554,42.646294,40.955471,42.082687,21.395554,269228882
4,2000-1-10,40.203999,43.585640,40.203999,43.209900,21.968651,380487972
...,...,...,...,...,...,...,...
5726,2023-5-3,49.900002,50.200001,49.400002,49.950001,49.950001,28657181
5727,2023-5-4,49.799999,49.799999,49.400002,49.650002,49.650002,26487301
5728,2023-5-5,49.700001,49.950001,49.500000,49.599998,49.599998,21031387
5729,2023-5-8,50.099998,50.599998,49.950001,50.000000,50.000000,27807248
5730,2023-5-10,49.799999,49.799999,49.400002,49.500000,49.500000,10497228

In [1]:
import os
os.path.abspath("./")

'/Users/roberthsu/Documents/GitHub/pythonFlask/學院_11202python應用實戰班/2023_05_05'